old/datax/index.html
old/datax/watchface.bmp
old/datax/websocks.webp
old/dataxx/criptime_example.ssid
old/dataxx/index.html
old/dataxx/messages.txt
old/dataxx/watchface.bmp
old/dataxx/websocks.webp
old/watch_slow/criptime.ino
old/watch_slow/readme.md
old/watch_slow/WatchyDisplay.cpp
old/watch_slow/WatchyDisplay.h
old/xdata/_index.html
old/xdata/criptime_example2.ssid
old/xdata/index.html
old/xdata/watchface.bmp
